<a href="https://colab.research.google.com/github/Semaine52/AuFilDuBoamp_GColabs/blob/main/Table_D_02_Typeorganisme_BOAMP_2020_2021_pour_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Table __D_02_Typeorganisme__ BOAMP 2020-2021 pour Python

### Infos liminaires

In [ ]:
%%html
<iframe src="https://aufilduboamp.com/DOCS/NOTEBOOKS/GCOLABS/GCOLABS_INIT_CHAPEAU.html"
style="width:95%; height:800px;"></iframe>

### Schéma html interactif de la table
Plein écran ► https://aufilduboamp.com/DOCS/BOAMP_ARBRES_HTML/boamp_plan_d_02_typeorganisme.html

In [ ]:
%%html
<iframe src="https://aufilduboamp.com/DOCS/BOAMP_ARBRES_HTML/boamp_plan_d_02_typeorganisme.html"
style="width:90%; height:400px;" ></iframe>

### Préparations

In [ ]:

## Ceci est un Notebook Jupyter avec du Python dedans

## Préparations 
# 1- Importer des packages/modules/classes depuis la bibliothèque standard
import sys
# 2- Importer des packages/modules/classes depuis des tiers
import pandas as pd
import altair as alt
from IPython.core.display import HTML, display
from IPython.core.interactiveshell import InteractiveShell
# 3- Importer des packages/modules/classes/variables depuis des modules maison
!git clone https://github.com/Semaine52/AuFilDuBoamp_Outils_CSV.git;
sys.path.insert(0, '/content/AuFilDuBoamp_Outils_CSV') # Adapter au besoin
sys.path.insert(0, '/content/AuFilDuBoamp_Outils/afdb_outils_csv') # Adapter au besoin
from AuFilDuBoamp_Outils_CSV import afdb_outils_csv
from AuFilDuBoamp_Outils_CSV.afdb_outils_csv import BOAMP_ARBRES_HTML, BOAMP_2020_GITHUB_CSV, BOAMP_2021_GITHUB_CSV
# 4- Permettre des sorties multiples sous les cellules
InteractiveShell.ast_node_interactivity = "all"
# 5- Régler Pandas/Altair
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 2000)
# Versions des principaux outils utilisés
print(f"Version de Python -> {sys.version}")
print(f"Version de Pandas -> {pd.__version__}")
print(f"Version d'Altair  -> {alt.__version__}")

Cloning into 'AuFilDuBoamp_Outils_CSV'...
remote: Enumerating objects: 97, done.
remote: Counting objects: 100% (97/97), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 97 (delta 51), reused 82 (delta 41), pack-reused 0
Unpacking objects: 100% (97/97), done.
Version de Python -> 3.7.10 (default, May  3 2021, 02:48:31)
[GCC 7.5.0]
Version de Pandas -> 1.1.5
Version d'Altair  -> 4.1.0

### Création de la Dataframe «df» -> 5 lignes par année avec head() à adapter.

In [ ]:
# CRÉATION DE LA DATAFRAME DF
## NOTEZ LES .head() en fin de ligne. Retirez-les pour charger toutes 
## les données des tables
df1 = pd.concat([pd.read_csv(x) for x in BOAMP_2020_GITHUB_CSV if 'D_02' in x]).head()
df2 = pd.concat([pd.read_csv(x) for x in BOAMP_2021_GITHUB_CSV if 'D_02' in x]).head()
df = pd.concat([df1, df2], axis=0).set_index('BOAMP_AVIS_NUM')

### df.info()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 07-127994 to 20-106925
Data columns (total 8 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   D_02_01_Typeorganisme_Institutioneuropeenne  10 non-null     bool
 1   D_02_02_Typeorganisme_Etat                   10 non-null     bool
 2   D_02_03_Typeorganisme_Region                 10 non-null     bool
 3   D_02_04_Typeorganisme_Departement            10 non-null     bool
 4   D_02_05_Typeorganisme_Commune                10 non-null     bool
 5   D_02_06_Typeorganisme_Epn                    10 non-null     bool
 6   D_02_07_Typeorganisme_Ept                    10 non-null     bool
 7   D_02_08_Typeorganisme_Autre                  0 non-null      float64
dtypes: bool(7), float64(1)
memory usage: 230.0+ bytes

### df.head()

In [ ]:
# CONSULTER LES PREMIÈRES LIGNES DE DF
df.head(10)

,D_02_01_Typeorganisme_Institutioneuropeenne,D_02_02_Typeorganisme_Etat,D_02_03_Typeorganisme_Region,D_02_04_Typeorganisme_Departement,D_02_05_Typeorganisme_Commune,D_02_06_Typeorganisme_Epn,D_02_07_Typeorganisme_Ept,D_02_08_Typeorganisme_Autre
BOAMP_AVIS_NUM,,,,,,,,
07-127994,False,False,False,False,False,False,False,NaN
17-31705,False,False,False,False,True,False,False,NaN
18-55590,False,False,False,False,False,False,False,NaN
18-78695,False,True,False,False,False,False,False,NaN
19-102527,False,False,False,True,False,False,False,NaN
11-116542,False,False,False,False,False,False,True,NaN
19-174419,False,False,False,False,False,False,False,NaN
19-188040,False,False,False,False,False,False,True,NaN
19-99055,False,False,False,False,True,False,False,NaN
20-106925,False,False,False,False,False,True,False,NaN

## À vous de jouer !

In [ ]:
# C'EST PARTI!